@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Roboto:wght@300;400&display=swap");

@import "@snapatoms/ui/styles/helpers";
@import "mixins";
@import "grid";
@import "nuxt-content";
@import "forms";

html {
    overflow-y: scroll;
}

.drawer-mobile {
    overflow-y: scroll;
}

:root {
    --theme-anchor: #009fff;
    --theme-bg: #1a1a1a;
    --theme-fg-fade: rgba(122, 122, 122, 0.23);
    --menu-bg-color: transparent;
    --menu-fg-color: black;
    --theme-secondary-fg: #ccc;
    --theme-tertiary-fg: var(var(--theme-anchor));
}

body,
html {
    letter-spacing: 0.2px;
    font-size: 15px;
    line-height: 1.7;
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
    width: 100%;
    color: var(--theme-fg, white);
    // background-color: var(--theme-bg);

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;

    @include below-large {
        font-size: 14px;
    }
}

.font-075rem {
    font-size: 0.75rem;
}

.content-body {
    @include below-large {
        ul,
        ol {
            padding-left: 0;
            list-style-position: inside;

            li::marker {
                font-weight: bold;
            }
        }
    }
}

.content-body {
    ul li ul {
        padding-left: 1rem;
    }
}

a {
    color: inherit;
    color: var(--theme-anchor);
    text-decoration: none;
}

.text-faded {
    color: #848484;
}

.section {
    margin: 1rem 0;
}

%_cover {
    width: 100%;
    box-shadow: 0px 0px 3px #646464;
    border: 0.01rem solid #7b7b7b;
}

.cover {
    @extend %_cover;
}

.cover-sm {
    @extend %_cover;
    max-height: 12rem;
}

.cover-svg {
    // width: 100%;
    max-height: 5rem;
}

.tags,
.toc,
.navbar {
    a {
        color: inherit;
    }
}

.light {
    color: rgb(158, 158, 158);
}

.icon-sm {
    width: 1rem;
    margin: 0 0.25rem;
}

h1 {
    font-size: 1.15rem;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 1.1rem;
}

.hover-fade:hover {
    color: rgb(118, 118, 118);
}

@media print {
    @page {
        size: auto;
        margin: 0mm;
    }
    .no-print {
        display: none !important;
    }

    .print-container {
        border-bottom: 2px dashed #ccc;
    }
}
