.nuxt-content {
    blockquote {
        border-left: 5px solid rgb(24, 194, 33);
        margin: 1.5em 0;
        padding: 0.5em 1rem;
        font-style: italic;
        color: #757575;
    }

    blockquote::before {
        color: #ccc;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    p,
    li {
        text-align: justify;
        line-height: 2rem;
    }

    blockquote p {
        display: inline;
    }

    p code,
    p pre {
        padding: 0.25rem;
        border-radius: 0.25rem;
        border-width: 1px;
        background-color: var(--theme-pre-bg, #313336);
        color: var(--theme-pre-fg, #a8b2ff);
        border-style: solid;
        border-color: var(--theme-pre-bg, #313336);
        --tw-bg-opacity: 1;
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-size: 0.875rem;
        line-height: 2;
    }
}

.nuxt-content-highlight {
    position: relative;
    overflow: visible;
    margin: 2rem 0;
    .code-toolbar {
        // position: relative;
        .toolbar {
            position: absolute;
            top: -1.5rem;
            right: 1rem;
            width: 25%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: grey;
        }
    }

    // .copy-to-clipboard-button {
    //     content: "copy";
    //     border: none;
    //     color: grey;
    //     background: transparent;
    //     cursor: pointer;
    //     transition: all 200ms ease;
    // }
}
