.nuxt-content {
    font-size: inherit;
    position: relative;
    line-height: 1.75rem;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 1.25rem;
    }

    ul {
        padding-left: 1rem;
    }

    a {
        color: var(--theme-anchor);
    }

    blockquote {
        margin: 1rem auto;
        color: inherit;
        font-style: italic;
        border-left: 3px solid red;
        padding: 1rem 1rem 1rem 2rem;
        background-color: var(--theme-pre-bg, #313336);
        opacity: 0.75;
    }

    p code,
    p pre {
        padding: 0.25rem;
        border-radius: 0.25rem;
        border-width: 1px;
        background-color: var(--theme-pre-bg, #313336);
        color: var(--theme-pre-fg, #a8b2ff);
        border-style: solid;
        border-color: var(--theme-pre-bg, #313336);
        --tw-bg-opacity: 1;
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-size: 0.875rem;
        line-height: 2;

        border-radius: 0.25rem;
        font-weight: 500 !important;
        padding: 0.25rem;
        --tw-text-opacity: 1;
        color: rgba(0, 0, 0, var(--tw-text-opacity));
        font-size: 80%;
        background: #f0efed;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid #ccc;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #cccccc43;
        }
        td,
        th {
            border: 1px solid #ccc;
            padding: 0.5rem 1rem;
        }
    }
}

.nuxt-content-highlight {
    position: relative;
    overflow: visible;
    margin: 2rem 0;

    .copy-to-clipboard-button {
        position: absolute;
        top: -1.5rem;
        right: 0;
        background-color: #1e1e1e;
        color: #ccc;
        border: 1px solid #1e1e1e;
        border-radius: 3px 3px 0 0;
        padding: 0.25rem;
        span::after {
            // background: url("/copy.svg");
            content: "";
            position: absolute;
        }
    }

    .toolbar {
        align-items: center;
        background: transparent;
        background-color: transparent;
        background-color: #1e1e1e;
        border: none;
        color: #e6caa8;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 12px;

        & > .toolbar-item > span {
            background-color: transparent;
            color: rgb(120, 120, 120);
            font-style: italic;
            padding-right: 0.5rem;
        }
    }

    pre {
        border-radius: 5px;
    }
}
