@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
}

:root {
  --ui-radius: 0.2rem;
  --ui-container: 72rem;
  --ui-header-height: 3.5rem;
  --ui-primary: var(--ui-color-primary-600);
}

.dark {
  --ui-primary: var(--ui-color-primary-400);
}

.prose {
  font-size: 1.0625rem;
  line-height: 1.8;
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
